<div id="profile-sub-menu">
    <%= link_to 'lessons', profile_path, :class => "sub-menu-btn" %>
    <%= link_to 'reviews', profile_path(:reviews => 1), :class => "sub-menu-btn active" %>
</div>

<h1> This is written in the _reviews_profile.html.erb partial! You can put review cards code in here! </h1>