<div id="profile-sub-menu">
    <%if @user.role.privilege == "teacher"%>
    <%= link_to 'lessons', profile_path, :class => "sub-menu-btn" %>
    <%= link_to 'reviews', profile_path(:reviews => 1), :class => "sub-menu-btn active" %>
    <%else%>
     <%= link_to 'reviews', profile_path(:reviews => 1), :class => "sub-menu-btn active" %>
    <%end%>
</div>

<!-- <% @??????.each do |review|%> -->
    <div class="profile-review-card">
        <div class="profile-card-row">
        <div class="profile-card-column-title">
            <div class="profile-card-row profile-card-review-title">
            <h2> !!!LESSON NAME!!! <span style="text-transform: lowercase;"> with </span> !!!TEACHER NAME!!! | !!!DURATION!!! minutes</h2>
            </div>
        </div>
        </div>
        <div class="profile-card-row-review">
        <div class="profile-card-review-student-image">
            !!!STUDENT PROFILE IMAGE!!!
        </div>
        <div class="profile-card-review-column-title">
            <div class="profile-card-row profile-card-reviews-title">
            <span style="font-style: italic;"> Lesson Review </span> <span style="text-transform: lowercase; font-style: italic;">&nbsp;by&nbsp;</span> <span> !!!STUDENT NAME!!! </span>
            </div>
            <div class="profile-card-row profile-card-reviews-body">
            <span> !!!THIS IS A STUDENT REVIEW!!! </span>
            </div>
        </div>
        </div>
        <div class="profile-card-row-review">
        <div class="profile-card-review-student-image">
            !!!TEACHER PROFILE IMAGE!!!
        </div>
        <div class="profile-card-review-column-title">
            <div class="profile-card-row profile-card-reviews-title">
            <span style="font-style: italic;"> reply</span> <span style="text-transform: lowercase; font-style: italic;">&nbsp;by&nbsp;</span> <span> !!!TEACHER NAME!!! </span>
            </div>
            <div class="profile-card-row profile-card-reviews-body">
            <span> !!!THIS IS A TEACHER REPLY!!! </span>
            </div>
        </div>
        </div>
    </div>
<!-- <% end %> -->
