<div id="profile-sub-menu">
    <%= link_to 'lessons', profile_path, :class => "sub-menu-btn" %>
    <%= link_to 'reviews', profile_path(:reviews => 1), :class => "sub-menu-btn active" %>
</div>
<h1> here! </h1>