<div id="profile-sub-menu">
    <a id="" class="sub-menu-btn student-about-me active"> 
        <span> <i class="fas fa-info-circle"></i> About <%= @profile.firstname %> </span> 
    </a>
</div>
<div class="profile-section-student"> 
    <div class="student-about-me">
        <div> <%= @profile.bio %> </div>
    </div>    
</div>
