<h1>Editing Languageskill</h1>

<%= render 'form', languageskill: @languageskill %>

<%= link_to 'Destroy', @languageskill, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', languageskills_path %>
