<div id="footer" class="outer-wrapper">
    <div class="inner-wrapper">
      <footer class="header-footer-container">
        <div id="" class="site-icon-logo-footer">
          <a href="/browse">
            <div id="site-icon-logo-footer"></div>
          </a>
        </div>
        <nav id="footer-nav" class="footer-nav">

        <% if current_user %>
          <a id="" class="footer-nav-btn" href="/browse"> browse </a>
          <%= link_to 'Bookings', userbookings_path(:user_id => current_user.id), class:"footer-nav-btn" %>
          <a id="" class="footer-nav-btn" href="/finances"> finances </a>
          <% if current_user.profile %>
            <a id="" class="footer-nav-btn" href="/profiles/<%=current_user.profile.id%>"> my profile </a>
          <% end %>
        <% else %>
          <a id="" class="footer-nav-btn" href="/browse"> browse </a>
          <a id="" class="footer-nav-btn" href="#howitworks"> how it works </a>
          <a id="" class="footer-nav-btn" href="#about"> about us </a>
          <a id="" class="footer-nav-btn" href="/users/sign_up"> signup </a>
          <a id="" class="footer-nav-btn" href="/users/signin"> login </a>
        <% end %>
        </nav>
        <div id="" class="footer-credits-container">
          <div id="" class="footer-credits"> 2019 | Chatr | All Rights Reserved </div>
        </div>
      </footer>
    </div>
  </div>
  