<div id="footer" class="outer-wrapper">
    <div class="inner-wrapper">
      <footer class="header-footer-container">
        <div id="" class="site-icon-logo-footer">
          <a href="/">
            <div id="site-icon-logo-footer"></div>
          </a>
        </div>
        <nav id="footer-nav" class="footer-nav">
          <a id="" class="footer-nav-btn" href="/"> browse </a>
          <a id="" class="footer-nav-btn" href="/"> how it works </a>
          <a id="" class="footer-nav-btn" href="/"> about us </a>
          <a id="" class="footer-nav-btn" href="/"> signup </a>
          <a id="" class="footer-nav-btn" href="/"> login </a>
        </nav>
        <div id="" class="footer-credits-container">
          <div id="" class="footer-credits"> 2019 | Chatr | All Rights Reserved </div>
        </div>
      </footer>
    </div>
  </div>
  