<div id="header" class="outer-wrapper">
  <div class="inner-wrapper">
    <header class="header-footer-container">
      <div id="" class="site-icon-logo">
        <a href="/">
          <div id="site-icon-logo"></div>
        </a>
      </div>
      <nav id="header-nav" class="header-nav">
        <a id="" class="header-nav-btn" href="/browse"> browse </a>
        <%= link_to 'Bookings', userbookings_path(:user_id => current_user.id), class:"header-nav-btn" %>
        <a id="" class="header-nav-btn" href="/"> finances </a>
        <a id="" class="header-nav-btn profile-nav-btn" href="/profiles/<%=current_user.profile.id%>">
          <div class="profile-nav-image"> <img src="profile_1-paul-1240x1240.jpg" alt=""> </div> <%= current_user.profile.firstname %>
        </a>
        <div class="header-nav-notifications">
          <a href=""> <i class="fas fa-globe-americas"></i> </a>
          <span class="seperator"></span>
          <a href=""> <i class="fas fa-comment-dots"></i> </a>
          <span class="seperator"></span>
          <a class="header-nav-logout">
            <i class="fas fa-lock"></i> <span class="logout">logout</span>
          </a>
        </div>
      </nav>
    </header>
  </div>
</div>
