<div id="header" class="outer-wrapper">
  <div class="inner-wrapper">
    <header class="header-footer-container">
      <div id="" class="site-icon-logo">
        <a href="/">
          <div id="site-icon-logo"></div>
        </a>
      </div>
      <nav id="header-nav" class="header-nav">
        <a id="" class="header-nav-btn public" href="/"> home </a>
        <a id="" class="header-nav-btn public" href="/browse"> browse </a>
        <a id="" class="header-nav-btn public" href="#howitworks"> how it works </a>
        <a id="" class="header-nav-btn public" href="#about"> about us </a>
        <a id="" class="header-nav-btn public" href="/#signup"> signup </a>
        <a id="" class="header-nav-btn public login-btn" href="/users/sign_in"> login </a>
      </nav>
    </header>
  </div>
</div>
