<body>

  <% if current_user %>
    <%= render 'header_nav_authenticated' %>
  <% else %>
    <%= render 'header_nav_public' %>
  <% end %>

  <div id="body" class="outer-wrapper">
    <div class="inner-wrapper">
      <div class= "cardwrapper">
        <%# PUT YOUR CONTENT HERE - THIS CONTAINER IS 1200px WIDE WITH 10px of PADDING LEFT AND RIGHT %>
          <h1 id > Browse Lessons: </h1>
          <%= render 'lessoncard' %>
      </div>
    </div>
  </div>

  <%= render 'footer_public' %>

</body>
