<h1>Chatr Home Page</h1>



<% @teachers_card_array.each do |teachers_card_info| %>
    <p> <%= link_to "#{teachers_card_info[:name]}", "/profiles/#{teachers_card_info[:profile_id]}" %> </p>
    <p> <%= teachers_card_info[:bio]%> </p>
    <% teachers_card_info[:teach_languages].each do |language| %>
        <p> <%= language %> </p>
    <%end%>
<%end%>

