<head>
  <title>Home | Chatr</title>
  <link rel="icon" type="image/png" href="">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
  <% if current_user %>
    <%= render 'header_nav_authenticated' %>
  <% else %>
    <%= render 'header_nav_public' %>
  <% end %>

  <div id="body" class="outer-wrapper">
    <div class="inner-wrapper">
      
      <%# PUT YOUR CONTENT HERE - THIS CONTAINER IS 1200px WIDE WITH 10px of PADDING LEFT AND RIGHT %>
      <div class ="cardwrapper">
        <div class= "rowofcards">
          <h1 class = "heading"> Top Rated Teachers: </h2>
          <%= render partial: 'pages/teacher_card', locals: {teachers_card_array: @teachers_card_array}%>  
        </div>
        
        <div class= "rowofcards">
          <h1 class = "heading"> Browse Available Lessons...</h2>
          <%= render 'lessoncard' %>
        </div>
      </div>
      
    </div>
  </div>

  <div id="footer" class="outer-wrapper">
    <div class="inner-wrapper">
      <footer class="header-footer-container">
        <div id="" class="site-icon-logo-footer">
          <a href="/">
            <div id="site-icon-logo-footer"></div>
          </a>
        </div>
        <nav id="footer-nav" class="footer-nav">
          <a id="" class="footer-nav-btn" href="/"> browse </a>
          <a id="" class="footer-nav-btn" href="/"> how it works </a>
          <a id="" class="footer-nav-btn" href="/"> about us </a>
          <a id="" class="footer-nav-btn" href="/"> signup </a>
          <a id="" class="footer-nav-btn" href="/"> login </a>
        </nav>
        <div id="" class="footer-credits-container">
          <div id="" class="footer-credits"> 2019 | Chatr | All Rights Reserved </div>
        </div>
      </footer>
    </div>
  </div>

</body>
