<!DOCTYPE html>
  <!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
  <!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<head>

  <!-- Title and Meta
  ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="author" content="Taya Lacey">
  <meta name="author" content="Thomas Smith">
  <meta name="author" content="Paul Meier">

  <title>Home | Chatr</title>

  <link rel="icon" type="image/png" href="../app/assets/images/favicon.png">

  <!-- Mobile Specific Meta
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale = 1, maximum-scale=1, user-scalable=no" />

</head>

