<head>
  <title>Home | Chatr</title>
  <link rel="icon" type="image/png" href="">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>

  <%= render 'header_nav_public' %>

  <div id="body" class="outer-wrapper outer-wrapper-public outer-wrapper-public-first bgr-image-signup">
    <div class="bgr-image-cover">
      <div class="inner-wrapper inner-wrapper-public inner-wrapper-public-first">
        <div class="column-student">
          <div class="signup">
            <div class="signup-info-row">
              <div class="image"> <img src="landing-student.jpg" alt=""> </div>
              <div class="signup-info-col">
                <div class="pretitle"> <h4>I am a</h4> </div>
                <div class="title"> <h3>student</h3> </div>
              </div>
            </div>
            <%= link_to "signup", new_user_registration_path(:role => Role.where(privilege: 'student').first), :class => "btn-signup" %>
          </div>
        </div>
        <div class="column-teacher">
          <div class="signup">
            <div class="signup-info-row">
              <div class="image"> <img src="https://chatr-app.s3-ap-southeast-2.amazonaws.com/rails-app/landing-student.jpg" alt=""> </div>
              <div class="signup-info-col">
                <div class="pretitle"> <h4>I am a</h4> </div>
                <div class="title"> <h3>teacher</h3> </div>
              </div>
            </div>
              <%= link_to "signup", new_user_registration_path(:role => Role.where(privilege: 'teacher').first), :class => "btn-signup" %>
            </div>
        </div>
      </div>
    </div>
  </div>

  <%# <div id="body" class="outer-wrapper outer-wrapper-public">
    <div class="inner-wrapper inner-wrapper-public">
      <div>this is the second section</div>
    </div>
  </div> %>

  <%= render 'footer_public' %>

</body>
