<head>
  <title>Home | Chatr</title>
  <link rel="icon" type="image/png" href="">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
  <div id="header" class="outer-wrapper public">
    <div class="inner-wrapper">
      <header class="header-footer-container">
        <div id="" class="site-icon-logo">
          <a href="/">
            <div id="site-icon-logo"></div>
          </a>
        </div>
        <nav id="header-nav" class="header-nav">
          <a id="" class="header-nav-btn public" href="/"> home </a>
          <a id="" class="header-nav-btn public" href="/"> browse </a>
          <a id="" class="header-nav-btn public" href="/"> how it works </a>
          <a id="" class="header-nav-btn public" href="/"> about us </a>
          <a id="" class="header-nav-btn public" href="/"> signup </a>
          <a id="" class="header-nav-btn public login-btn" href="/"> login </a>
        </nav>
      </header>
    </div>
  </div>

  <div id="body" class="outer-wrapper outer-wrapper-public outer-wrapper-public-first bgr-image-signup">
    <div class="bgr-image-cover">
      <div class="inner-wrapper inner-wrapper-public inner-wrapper-public-first">
        <div class="column-student">
          <div class="signup">
            <div class="signup-info-row">
              <div class="image"> <img src="/assets/landing-student.jpg" alt=""> </div>
              <div class="signup-info-col">
                <div class="pretitle"> <h4>I am a</h4> </div>
                <div class="title"> <h3>student</h3> </div>
              </div>
            </div>
            <div class="btn-signup"> signup </div>
          </div>
        </div>
        <div class="column-teacher">
          <div class="signup">
            <div class="signup-info-row">
              <div class="image"> <img src="/assets/landing-teacher.jpg" alt=""> </div>
              <div class="signup-info-col">
                <div class="pretitle"> <h4>I am a</h4> </div>
                <div class="title"> <h3>teacher</h3> </div>
              </div>
            </div>
            <div class="btn-signup"> signup </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%# <div id="body" class="outer-wrapper outer-wrapper-public">
    <div class="inner-wrapper inner-wrapper-public">
      <div>this is the second section</div>
    </div>
  </div> %>

  <div id="footer" class="outer-wrapper">
    <div class="inner-wrapper">
      <footer class="header-footer-container">
        <div id="" class="site-icon-logo-footer">
          <a href="/">
            <div id="site-icon-logo-footer"></div>
          </a>
        </div>
        <nav id="footer-nav" class="footer-nav">
          <a id="" class="footer-nav-btn" href="/"> browse </a>
          <a id="" class="footer-nav-btn" href="/"> how it works </a>
          <a id="" class="footer-nav-btn" href="/"> about us </a>
          <a id="" class="footer-nav-btn" href="/"> signup </a>
          <a id="" class="footer-nav-btn" href="/"> login </a>
        </nav>
        <div id="" class="footer-credits-container">
          <div id="" class="footer-credits"> 2019 | Chatr | All Rights Reserved </div>
        </div>
      </footer>
    </div>
  </div>

</body>