<head>
  <title>Home | Chatr</title>
  <link rel="icon" type="image/png" href="">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>

  <%= render 'header_nav_public' %>

  <div id="body" class="outer-wrapper outer-wrapper-public outer-wrapper-public-first bgr-image-signup">
    <div class="bgr-image-cover">
      <div class="inner-wrapper inner-wrapper-public inner-wrapper-public-first">
        <div class="column-student">
          <div class="signup">
            <div class="signup-info-row">
              <div class="image"> <img src="https://chatr-app.s3-ap-southeast-2.amazonaws.com/rails-app/landing-student.jpg" alt=""> </div>
              <div class="signup-info-col">
                <div class="pretitle"> <h4>I am a</h4> </div>
                <div class="title"> <h3>student</h3> </div>
              </div>
            </div>
            <%= link_to "signup", new_user_registration_path(:role => Role.where(privilege: 'student').first), :class => "btn-signup" %>
          </div>
        </div>
        <div class="column-teacher">
          <div class="signup">
            <div class="signup-info-row">
              <div class="image"> <img src="https://chatr-app.s3-ap-southeast-2.amazonaws.com/rails-app/landing-teacher.jpg" alt=""> </div>
              <div class="signup-info-col">
                <div class="pretitle"> <h4>I am a</h4> </div>
                <div class="title"> <h3>teacher</h3> </div>
              </div>
            </div>
              <%= link_to "signup", new_user_registration_path(:user => {:role => Role.where(privilege: 'teacher').first}), :class => "btn-signup" %>
            </div>
        </div>
      </div>
    </div>
  </div>

  
  <div id="body" class="outer-wrapper outer-wrapper-public bgr-image-howitworks">
    <div id="howitworks" class="bgr-image-cover-grey">
      <div class="inner-wrapper inner-wrapper-public">
        <div class="column-howitworks">
          <div class="howitworks col-1">
            <div class="howitworks-icon"> <i class="fas fa-check"></i> </div>
            <div class="howitworks-title"> signup </div>
          </div>
        </div>
        <div class="column-howitworks">
          <div class="howitworks">
            <div class="howitworks-icon"> <i class="fas fa-money-check-alt"></i> </div>
            <div class="howitworks-title"> pay us lots'a money </div>
          </div>
        </div>
        <div class="column-howitworks">
          <div class="howitworks col-3">
            <div class="howitworks-icon"> <i class="fas fa-graduation-cap"></i> </div>
            <div class="howitworks-title"> learn </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="body" class="outer-wrapper outer-wrapper-public bgr-image-about">
    <div id="about" class="bgr-image-cover">
      <div class="inner-wrapper inner-wrapper-public">
         <div class="column-aboutus">
          <div class="aboutus">
            <div class="aboutus-image"> <img src="/assets/thomas-smith.jpg" alt="Thomas Smith"> </div>
            <div class="howitworks-title"> thomas smith </div>
            <div class="aboutus-bio"> Tom is a budding full stack developer keen to do his part to make the web a better experience for everyone. Tom thrives on taking complex problems and breaking them down to figure out how something can be built, ultimately producing efficient and powerful web applications. Tom likes clean code and functional design. </div>
            <div class="aboutus-bio-icons"> 
              <a href="https://github.com/tomsmi321/" target="_blank"> <i class="fab fa-github-square"></i> </a>
              <a href="https://www.linkedin.com/in/thomas-smith-b57470163/" target="_blank"> <i class="fab fa-linkedin"></i> </a>
            </div>
          </div>
        </div>
        <div class="column-aboutus">
          <div class="aboutus">
            <div class="aboutus-image"> <img src="/assets/taya-lacey.jpg" alt="Taya Lacey"> </div>
            <div class="howitworks-title"> taya lacey </div>
            <div class="aboutus-bio"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit et consectetur eaque ipsum voluptatibus doloribus maiores perferendis ab id velit aliquid qui soluta, natus neque nemo eius ducimus eligendi suscipit. </div>
            <div class="aboutus-bio-icons"> 
              <a href="https://github.com/tayaaaa/" target="_blank"> <i class="fab fa-github-square"></i> </a>
              <a href="https://www.linkedin.com/in/taya-lacey-542455137/" target="_blank"> <i class="fab fa-linkedin"></i> </a>
            </div>
          </div>
        </div>
        <div class="column-aboutus">
          <div class="aboutus">
            <div class="aboutus-image"> <img src="/assets/paul-meier.jpg" alt="Thomas Smith"> </div>
            <div class="howitworks-title"> paul meier </div>
            <div class="aboutus-bio"> Paul is currently studying to attain his Diploma of Information Technology in the field of Web Application Software Development and Engineering. Paul Meier is a veteran Personal Trainer, Strength and Health Coach; having worked in the health, wellness and fitness industry for the past 15 years in Melbourne, Australia. </div>
            <div class="aboutus-bio-icons"> 
              <a href="https://github.com/fiterr-paul/" target="_blank"> <i class="fab fa-github-square"></i> </a>
              <a href="https://www.linkedin.com/in/paulanthonymeier/" target="_blank"> <i class="fab fa-linkedin"></i> </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div id="body" class="outer-wrapper outer-wrapper-public bgr-image-signup">
    <div id="signup" class="bgr-image-cover-blue">
      <div class="inner-wrapper inner-wrapper-public">
        <div class="column-student">
          <div class="signup">
            <div class="signup-info-row">
              <div class="image"> <img src="/assets/landing-student.jpg" alt=""> </div>
              <div class="signup-info-col">
                <div class="pretitle"> <h4>I am a</h4> </div>
                <div class="title"> <h3>student</h3> </div>
              </div>
            </div>
            <a href="/users/sign_up" class="btn-signup"> signup </a>
          </div>
        </div>
        <div class="column-teacher">
          <div class="signup">
            <div class="signup-info-row">
              <div class="image"> <img src="/assets/landing-teacher.jpg" alt=""> </div>
              <div class="signup-info-col">
                <div class="pretitle"> <h4>I am a</h4> </div>
                <div class="title"> <h3>teacher</h3> </div>
              </div>
            </div>
            <a href="/users/sign_up" class="btn-signup"> signup </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= render 'footer_public' %>

</body>
