// Place all the styles related to the Userbookings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.titlesection {
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-around;
}

.card#bookingcard{
    width: calc(50% - 42px);
}

.profilepic-image {
    border-radius: 50%;
    height: 80px;
    width: 80px;
} 

#langwithteach {
    font-weight: bold;
    color:#4267B2;
}

.bottombar{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.righthandside{
    display:flex;
    flex-direction: column;
}

.cardbody{
    padding: 15px;
}

.card {
    box-shadow: 0 0 2px 0 rgba(46,62,72,.12), 0 2px 4px 0 rgba(46,62,72,.12);
    border: 1px solid grey;
    border-radius: 2px;
    margin: 10px;
    padding: 10px;
    align-items: center;
    min-width: calc(25% - 42px);
}